@font-face {
    font-family: "Source Sans Pro";
    src: url("SourceSansPro-Regular.otf");
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("SourceSansPro-Bold.otf");
    font-weight: bold;
}

body {
    max-width: 1125px;
    margin: 0 auto;
}

h1 {
    font-size: 100px;
}

h1.title {
    font-weight: bold;
}

.center-title {
    margin-top: 450px;
    text-align: center;
}

.center-title-long {
    margin-top: 200px;
    text-align: center;
}

.center-title-longest {
    text-align: center;
}

body, h5 {
    font-size: 50px;
}

pre {
    font-size: 50px;
    whitespace: pre-wrap;
    text-align: left;
}

section {
    display: none;
}

section.current {
    display: block;
}

section.title-slide {
    text-align: center;
    font-size: 150%;
}

h1.title-slide {
    font-weight: bold;
}

code.language-text {
    /* Servo doesn't support pre-wrap yet */
    white-space: normal;
}

body, h1, h2, h3, h4, h5, h6, nav {
    font-family: "Source Sans Pro";
    font-weight: normal;

}

pre, code {
    font-family: "Source Code Pro Regular";
}


h1.big {
    font-weight: normal;
    font-size: 200%;
}

img.left {
    float: left;
}

img.right {
    float: right;
}

img.center {
    margin-top: 200px;
}
